$color-red: #ff5959;
$color-gray: #bbb8b6;
$color-lightgray: #f8f8f8;
$color-title: #2e2925;
$color-font: #67625f;
$size-container: 325px;
$color-background-conditions: #e8e6e5;
$font: "Source Sans Pro", sans-serif;
