@import "variables";
@import "mixins";
@import "extends";

@media (min-width: 600px) and (orientation: landscape) {
  .header {
    &__container {
      width: 80vw;
    }
    &__nav {
      display: none;
    }
    &__animation {
      display: flex;
      justify-content: space-between;
      width: 202px;
      height: 50px;
      &-element {
        display: flex;
        align-items: flex-end;
        margin-right: 5px;
        width: 60px;
        height: 70px;
        cursor: pointer;
        img {
          width: 60px;
        }
        &--primary {
          background: $color-red;
          width: 70px;
          height: 125px;
        }
        &--secondary {
          background-color: #6199af;
          &:hover {
            height: 125px;
          }
        }
        &--tertiary {
          background-color: #f6b436;
          &:hover {
            height: 125px;
          }
        }
      }
    }
  }

  .logo {
    align-self: center;
    width: 80vw;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    &__image {
      display: block;
      &--small {
        display: none;
      }
      &-menu {
        display: block;
        padding-top: 20px;
      }
    }
    &__var {
      display: flex;
      width: 460px;
      justify-content: space-between;
      &-responsive {
        width: 130px;
        height: 30px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font;
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 1px;
        text-align: center;
        &--news {
          background: #9faa4d;
          padding-right: 8px;
          &::before {
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url(../images/sprite.svg) -244px 4px no-repeat;
            content: "";
          }
        }
        &--offers {
          background: #8e789d;
          padding-right: 15px;
          &::before {
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url(../images/sprite.svg) -274px 4px no-repeat;
            content: "";
          }
        }
      }
    }
  }
  .logo__var-search {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    input {
      border: 1px solid $color-gray;
      width: calc(100% - 49px);
      height: 28px;
      margin: 0;
      font-size: 11px;
      letter-spacing: 1px;
      padding: 0 5px;
      color: #bbb8b6;
      outline: none;
    }
  }
  .button-search {
    display: block;
    float: right;
    width: 49px;
    height: 28px;
    background: url(../images/sprite.svg) -303px 2px no-repeat #bbb8b6;
    border: none;
  }

  .footer {
    flex-direction: row;
    &__follow {
      padding-right: 50px;
      width: auto;
    }
    &__subscribe {
      width: auto;

      border-top: none;
      border-bottom: none;

      &-form {
        border-left: 1px solid $color-gray;
        border-right: 1px solid $color-gray;
        padding-left: 50px;
        padding-right: 50px;
      }
      &-title {
        border-left: 1px solid $color-gray;
        border-right: 1px solid $color-gray;
        padding-left: 50px;
        padding-right: 50px;
        line-height: 30px;
        margin: 0;
      }
    }
    &__contact {
      padding-left: 50px;
      align-items: flex-start;
      width: auto;
      :nth-child(n) {
        flex-direction: row;
        :nth-child(1) {
          margin-right: 5px;
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .conditions {
    flex-direction: row;
    div {
      display: flex;
      justify-content: space-between;
      width: 350px;
    }
  }
}
