@media (min-width: 600px) and (orientation: landscape) {
  .header__container {
    width: 80vw;
  }
  .main {
    align-items: center;
  }
  .logo {
    width: 80vw;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    &__image {
      display: block;
      &--small {
        display: none;
      }
      &-menu {
        display: block;
      }
    }
  }
}
