@import "variables";
@import "mixins";
@import "extends";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}
.header {
  width: 100vw;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: $color-lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  &__container {
    width: $size-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__components {
    @extend %display-container;
    align-items: center;
  }
  &__icon {
    width: 50px;
    height: 50px;
    &--login {
      width: 27px;
      height: 27px;
      background: url(../images/sprite.svg) 0 0 no-repeat;
      margin-right: 10px;
      background-color: $color-lightgray;
    }

    &--search {
      background: url(images/sprite.svg) -304px 12px no-repeat transparent;
      background-color: $color-gray;
    }
    &--shop {
      background: url(images/sprite.svg) -66px 10px no-repeat transparent;
      background-color: $color-lightgray;
    }
    &--counter {
      @extend %display-container;
      background-color: $color-red;
      color: #fff;
      font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial",
        sans-serif;
      font-size: 20px;
      align-items: center;
    }
    font: 12px/1.55 "Source Sans Pro", sans-serif;
  }
}
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.logo {
  @extend %display-container;
  width: 100vw;
  &__container {
    width: $size-container;
    height: 100px;
    padding-left: 0;
    display: flex;
    align-items: center;
  }
}

.fiestas {
  @extend %display-container;
  flex-direction: column;
  align-items: center;
  background-color: $color-lightgray;
  margin-top: 100px;
  margin-bottom: 100px;
  &__icon {
    width: $size-container;
    height: 50px;
    position: relative;
    &-element {
      width: 100px;
      position: absolute;
      top: -60px;
      right: $size-container / 2 - 50px;
    }
  }
  &__title {
    @extend %display-container;
    width: 218px;
    height: 66px;
    color: $color-title;
    font-family: $font;
    margin-top: 67px;
    margin-bottom: 67px;
    border-top: 2px solid $color-title;
    border-bottom: 2px solid $color-title;
  }
  &__card {
    width: $size-container;
    height: 125px;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
    &--tematicas {
      background: url(./images/fiestastematicas.jpg) no-repeat;
      background-size: cover;
    }
    &--personajes {
      background: url(./images/fiestaspersonajes.jpg) no-repeat;
      background-size: cover;
    }
    &--pompones {
      background: url(./images/pompones.jpg) no-repeat;
    }
    &-title {
      display: flex;
      align-items: center;
      width: $size-container / 2;
      height: 62.5px;
      font-family: $font;
      font-size: 14px;
      color: $color-font;
      background-color: rgba($color: #fff, $alpha: 0.8);
      padding-left: 20px;
      position: relative;
      top: 125px - 62.5px;
      &-font {
        margin: 0;
      }
    }
  }
  &__button {
    @extend %display-container;
    width: $size-container;
    height: 50px;
    margin-top: 50px;
  }
}
.button {
  width: 185px;
  background-color: $color-red;
  color: #fff;
  font-family: $font;
  font-weight: lighter;
  font-size: 18px;
  border-style: none;
  &:hover {
    cursor: pointer;
  }
}

.footer {
  @extend %display-container;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  &__follow {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    &-title {
      font-size: 14px;
      line-height: 16px;
      color: #67625f;
      font-weight: lighter;
    }
    &-icons {
      display: flex;
      & a {
        margin: 2px;
        width: 33px;
        height: 32px;
      }
      :nth-child(1) {
        background: url(images/sprite.svg) 0 -494px no-repeat transparent;
      }
      :nth-child(2) {
        background: url(images/sprite.svg) -35px -494px no-repeat transparent;
      }
      :nth-child(3) {
        background: url(images/sprite.svg) -70px -494px no-repeat transparent;
      }
      :nth-child(4) {
        background: url(images/sprite.svg) -106px -494px no-repeat transparent;
      }
      :nth-child(5) {
        background: url(images/sprite.svg) -176px -494px no-repeat transparent;
      }
    }
  }
  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    color: #67625f;
    border-top: 1px solid $color-font;
    border-bottom: 1px solid $color-font;
    padding-top: 50px;
    padding-bottom: 50px;

    &-title {
      font-size: 14px;
      line-height: 16px;
      color: #67625f;
      font-weight: lighter;
    }
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      & [type="text"] {
        width: 100%;
        height: 40px;
      }
      & [type="submit"] {
        width: 100%;
        height: 40px;
        background-color: #ff5959;
        border: none;
        color: #fff;
        font-weight: 700;
      }
      label {
        line-height: 30px;
      }
    }
    &-privacylink {
      text-decoration: underline;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    margin-top: 30px;
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: #ff5959;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
    }
    &-mail {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      &:hover {
        text-decoration: underline;
      }
      :nth-child(1) {
        background: url(../images/sprite.svg) 0 -207px no-repeat;
        @extend %footer__contact-icon-size;
        margin-bottom: 5px;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      &:hover {
        text-decoration: underline;
      }
      :nth-child(1) {
        background: url(../images/sprite.svg) 0 -246px no-repeat;
        @extend %footer__contact-icon-size;
        margin-bottom: 5px;
      }
    }
    &-cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        text-decoration: underline;
      }
      :nth-child(1) {
        background: url(../images/sprite.svg) 0 -285px no-repeat;
        @extend %footer__contact-icon-size;
        margin-bottom: 5px;
      }
    }
  }
  .copyright {
    //position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    line-height: 50px;
    background-color: $color-red;
    color: white;
    font-size: 14px;
  }
}

.conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font;
  background-color: $color-background-conditions;

  div {
    display: flex;
    justify-content: space-between;
    width: 325px;
  }

  .conditions__icon {
    //width: 100px;
    height: 60px;
    background-color: yellow;
    &--free {
      width: 85px;
      background: url(images/sprite.svg) 0 -38px no-repeat transparent;
    }
    &--fast {
      width: 55px;
      margin-top: 20px;
      background: url(images/sprite.svg) -90px -38px no-repeat transparent;
    }
    &--pay {
      width: 68px;
      margin-top: 20px;
      background: url(images/sprite.svg) -150px -36px no-repeat transparent;
    }
    &--return {
      width: 77px;
      background: url(images/sprite.svg) -223px -38px no-repeat transparent;
    }
  }
  .conditions__article {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-font;
    margin-top: 50px;
    margin-bottom: 50px;

    .conditions__title {
      font-size: 14px;
      line-height: 19px;
    }
    .conditions__text {
      font-size: 11px;
      line-height: 18px;
      margin: 0;
      line-height: 20px;
      text-align: center;
    }
  }
}
